/* Font Style */

@font-face {
    font-family: "InterVariable";
    font-display: fallback;
    font-weight: 100 900;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
      format("truetype");
  }
  
  :root {
    /* Color Lists */
    --grey-900: hsl(215, 31%, 21%);
    --blue-600: hsl(227, 92%, 58%);
    --grey-700: hsl(215, 17%, 45%);
    --grey-300: hsl(200, 24%, 88%);
    --white-900: hsl(0, 0%, 100%);
    --background-gradient: linear-gradient(
      290.1deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
  }
  
  /* Universal Styling */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "InterVariable";
    font-size: 16px;
  }
  
  body {
    min-height: 100vh;
    min-width: 375px;

  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  p {
    color: var(--grey-700);
    line-height: 1.5;
  }
  
  /* Utilities Style */
  .page__heading,
  .section__heading {
    margin-bottom: 2.1875rem;
  }
  
  .page__heading {
    font-size: 4rem;
  }
  
  .section__heading {
    font-size: 3rem;
  }
  
  .card__heading {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .page-header__container {
    width: 61.125rem;
    
    position: relative;
    /* margin-bottom: 3.8rem; */
    padding: 4.6875rem 18.625rem 12.5rem 7.25rem;
    background: var(--background-gradient);
    border-radius: 0 0 2.1875rem 2.1875rem;
  }
  
  .page-header__content {
    width: 90%;
    margin-top: 200px;
  }

  

  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  
  .header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  .header .logo {
    line-height: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #4154f1;
  }
  
  .navbar .getstarted {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  .cta-btn {
    margin-left: 40%;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #4154f1;
    color: #4154f1;
  }
  .cta-btn:hover{
    color:#fff;
    background: #4154f1;
  }
  .navbar .getstarted:hover {
    color: #fff;
    background: #5969f3;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #4154f1;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 75px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #4154f1;
  }
  
  .navbar-mobile .getstarted {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #4154f1;
  }
  
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  #logo {
    height: 3rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 30rem) {
    #logo {
      height: 4rem;
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 64rem) {
    .navbar-expand-lg .navbar-collapse {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
  }
  
  
  
  .company__logo {
    margin-bottom: 7.9375rem;
  }
  
  .result-explanation__container {
    width: 76rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }
  
  .brand-ambassador {
    width: 45%;
  }
  
  .result-explanation__content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .good-habit__container {
    margin-bottom: 7.5rem;
    padding: 4.5rem 7.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
    background: var(--background-gradient);
    border-radius: 2.1875rem;
  }
  
  .good-habit__logo {
    margin-bottom: 2.8125rem;
  }
  
  .bmi-limitations__container {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }
  
  .card-limitations {
    padding: 32px;
    background-color: var(--white-900);
    border-radius: 16px;
    box-shadow: 8px 10px 25px var(--grey-300);
  }
  
  .card-limitations__header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .limitations-logo {
    margin-right: 1rem;
  }
  
  .bmi-limitations {
    grid-column: 1 / span 6;
  }
  
  .gender {
    grid-column: 8 / span 4;
  }
  
  .age {
    grid-area: 2 / 5 / span 1 / span 4;
  }
  
  .muscle {
    grid-area: 2 / 9 / span 1 / span 4;
  }
  
  .pregnancy {
    grid-area: 3 / 3 / span 1 / span 4;
  }
  
  .race {
    position: static;
    grid-area: 3 / 7 / span 1 / span 4;
  }
  
  /* BMI Form Section */
  .users-info {
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(35%, -50%);
    background-color: var(--white-900);
    border-radius: 1rem;
    box-shadow: 5px 15px 50px var(--grey-300);
  }
  
  .fieldset-unit {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .fieldset-unit label {
    margin-right: 10.5rem;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
  }
  
  input[type="radio"],
  input[type="number"] {
    cursor: pointer;
  }
  
  input[type="radio"] {
    appearance: none;
    width: 31px;
    height: 31px;
    display: grid;
    place-content: center;
    margin-right: 1.125rem;
    border: 1px solid var(--grey-300);
    border-radius: 100%;
  }
  
  input[type="radio"]:active {
    border-color: var(--blue-600);
  }
  
  input[type="radio"]:checked {
    background-color: rgba(52, 95, 246, 0.15);
  }
  
  /* Customize Radio Input */
  input[type="radio"]::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--blue-600);
    border-radius: 100%;
    transform: scale(0);
  }
  
  input[type="radio"]:checked:before {
    transform: scale(1);
  }
  
  /* ---------------------------------------- */
  .fieldset-details__metric,
  .fieldset-details__imperial {
    margin-bottom: 2rem;
    display: none;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
  }
  
  .fieldset-details label {
    position: relative;
    font-size: 0.875rem;
  }
  
  label[for="heightInInch"],
  label[for="weightInLbs"] {
    display: flex;
    align-items: end;
  }
  
  .fieldset-details label::after {
    position: absolute;
    top: 48%;
    right: 22%;
    color: var(--blue-600);
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  #bmi-score {
    display: none;
  }
  
  /* Customize Number Input */
  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    appearance: none;
  }
  
  input[type="number"] {
    width: 238px;
    height: 69px;
    padding: 1.25rem 1.5rem;
    margin-top: 0.5rem;
    display: block;
    border: 1px solid var(--grey-300);
    border-radius: 12px;
    font-size: 1.5rem;
    outline: none;
  }
  
  input[type="number"]:focus {
    border-color: var(--blue-600);
  }
  
  label[for="heightInCM"]::after {
    content: "cm";
  }
  
  label[for="weightInKG"]::after {
    content: "kg";
  }
  
  label[for="heightInFeet"]::after {
    content: "ft";
  }
  
  label[for="heightInInch"]::after {
    content: "in";
  }
  
  label[for="weightInSt"]::after {
    content: "st";
  }
  
  label[for="weightInLbs"]::after {
    content: "lbs";
  }
  
  /* -------------------------------------- */
  .metric .fieldset-details__metric {
    display: grid;
  }
  
  .imperial .fieldset-details__imperial {
    display: grid;
  }
  
  .imperial .fieldset-details__metric {
    display: none;
  }
  
  .result-summary__container {
    padding: 2rem;
    background: linear-gradient(90deg, #345ff7 0%, #587dff 100%);
    border-radius: 1rem 10rem 10rem 1rem;
  }
  
  .result-summary__container p,
  .result-summary__container h3,
  .result-summary__container strong {
    color: var(--white-900);
  }
  
  .result-summary__container p {
    font-size: 0.875rem;
  }
  
  .summary__content {
    display: flex;
    align-items: center;
  }
  
  #bmi-summary {
    display: none;
  }
  
  /* When Input is Filled */
  .activated {
    display: flex;
    justify-content: space-between;
  }
  
  .activated .card__heading {
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }
  
  .activated #bmi-score {
    display: contents;
  }
  
  .activated #description {
    display: none;
  }
  
  .activated #bmi-summary {
    width: 200px;
    display: block;
  }
  
  @media (max-width: 1300px) {
    body {
      padding: 0;
    }
  
    .page-header__container {
      width: 100%;
      margin-bottom: 26rem;
      padding-right: 0;
    }
  
    .result-explanation__container {
      width: 100%;
      justify-content: space-around;
    }
  
    .users-info {
      left: 115px;
      top: 75%;
      transform: translate(0);
    }
  
    .company__logo {
      margin-bottom: 2.5rem;
    }
  
    .fieldset-unit label {
      margin-right: 0;
    }
  
    label[for="imperial"] {
      position: relative;
      left: 29%;
    }
  }
  
  @media (max-width: 960px) {
    .page__heading {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  
    .section__heading {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    .page-header__container {
      margin-bottom: 0;
      padding: 2rem 0 0 0;

    }
  
    .page-header__content {
      margin: 0 auto;
      text-align: center;
      margin-top: 100px;
    }
  
    .company__logo {
      display: block;
    }
  
    .users-info {
      width: 90%;
      position: static;
    }
  
    input[type="number"] {
      width: 90%;
    }
  
    .company__logo,
    .users-info {
      margin: 2rem auto;
    }
  
    .good-habit__container {
      margin-bottom: 2rem;
      padding-left: 3.25rem;
      padding-right: 3.25rem;
      grid-template-columns: 1fr;
      border-radius: 0;
    }
  
    .good-habit__card {
      display: grid;
      grid-template-columns: 1fr 4fr;
      justify-items: center;
      align-items: center;
    }
  
    .good-habit__logo {
      margin-bottom: 0;
    }
  
    .bmi-limitations__container {
      padding: 2.4rem;
    }
  
    .bmi-limitations {
      grid-column: 1 / -1;
      text-align: center;
    }
  
    .gender {
      grid-area: 2 / 1 / span 1 / span 6;
    }
  
    .age {
      grid-area: 2 / 7 / span 1 / span 6;
    }
  
    .muscle {
      grid-area: 3 / 1 / span 1 / span 6;
    }
  
    .pregnancy {
      grid-area: 3 / 7 / span 1 / span 6;
    }
  
    .race {
      grid-area: 4 / 4 / span 1 / span 6;
    }
  }
  
  @media (max-width: 760px) {
    .result-explanation__container {
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
      margin-bottom: 3rem;
    }
  
    .brand-ambassador {
      width: 60%;
      margin-bottom: 1rem;
    }
  
    .result-explanation__content {
      width: 100%;
      text-align: center;
    }
  }
  
  @media (max-width: 610px) {
    .good-habit__card {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  
    .good-habit__logo {
      margin-bottom: 2rem;
    }
  
    .bmi-limitations__container {
      padding: 1rem;
    }
  
    .gender {
      grid-area: 2 / 1 / span 1 / -1;
    }
  
    .age {
      grid-area: 3 / 1 / span 1 / -1;
    }
  
    .muscle {
      grid-area: 4 / 1 / span 1 / -1;
    }
  
    .pregnancy {
      grid-area: 5 / 1 / span 1 / -1;
    }
  
    .race {
      grid-area: 6 / 1 / span 1 / -1;
    }
  }
  
  @media (max-width: 510px) {
    .activated {
      flex-direction: column;
    }
  
    .result-summary__container {
      border-radius: 1rem;
    }
  
    .result__content {
      margin-bottom: 1rem;
    }
  }








  

.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
  margin-top: 130px;
}


.footer .footer-top {
  background: white url(../aboutus/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-right: 70px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;

  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: black;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}



.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}





.header-btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  margin-left: 20px;
  transition: 0.3s;
  box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
  align-items: center;
}


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}




/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}



  .navbar {
    padding-top: 1rem;
    z-index: 999;
  }



body, html {
  overflow-x: hidden;
}

